@use "../../SCSS/variable.scss" as *;

.Location__Cards {
  position: relative;
  overflow: hidden;
  width: 340px;
  border-radius: 10px;
  align-items: end;
  background-size: cover;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    z-index: 1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  &__Title {
    position: absolute;
    bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    width: 50%;
    margin-left: 20px;
    color: $color-black;
    z-index: 2;
  }
}

@media screen and (width <= 768px) {
  .Location__Cards {
    flex-basis: 100%;
  }
}
