@use "../../SCSS/variable.scss" as *;

.Location__Link {
  position: relative;
  overflow: hidden;
  width: 30%;
  border-radius: 25px;
  align-items: center;
  background-size: cover;
}
.Location__Cards {
  width: 100%;
  height: 100%;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(10, 10, 10, 0) 42%,
      rgba(4, 4, 4, 0.205) 99.99%,
      rgba(0, 0, 0, 0.5) 100%
    );

    border-radius: 25px;
    z-index: 1;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  &__Title {
    position: absolute;
    bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 50%;
    margin-left: 20px;
    color: $color-white;
    z-index: 2;
  }
}

@media screen and (width <= 768px) {
  .Location__Link {
    width: 90%;
    margin: 10px auto;
  }

  .Location__Cards {
    img {
      width: 100%;
      min-height: 350px;
      object-fit: cover;
    }
  }

  .Location__Cards__Title {
    font-size: 16px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1300px) {
  .Location__Link {
    width: 40%;
    margin: 10px auto;
  }
}
