@use "../../SCSS/variable.scss" as *;

.Location__Cards {
  //background-image: linear-gradient(to top, $color-secondary, $color-primary);
  width: 340px;
  //height: 340px;
  border-radius: 10px;
  //flex-basis: 30%; si je veux QUE 3 sur une ligne
  //display: grid;
  align-items: end;
  background-size: cover;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  & &__Title {
    font-size: 18px;
    width: 50%;
    margin-left: 20px;
    color: $color-black;
  }
}

@media screen and (width <= 768px) {
  .Location__Cards {
    flex-basis: 100%;
  }
}
