@use "../../SCSS/variable.scss" as *;

.location__description {
  width: 100%;
  margin-bottom: 30px;
  p {
    margin-block: 0;
  }
  .description__title {
    background-color: $color-primary;
    color: $color-white;
    padding: 10px 20px 10px 10px;
    gap: 0px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    i {
      font-size: 32px;
      cursor: pointer;
      &.open {
        transform: rotate(180deg); /* Pivote les chevrons quand ouvert */
      }
    }
  }
  .description__content {
    background-color: $background-main;
    border-radius: 10px;
    color: $color-black;
    padding: 0 20px;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out,
      opacity 0.3s ease-out;
    max-height: 0; /* L'élément est caché par défaut */
    overflow: hidden;
    display: block; /* Toujours afficher le conteneur (le problème de display: none est que la transition n'est pas possible) */
    opacity: 0;

    &.open {
      max-height: 1000px; /* Une valeur suffisamment grande pour contenir tout le contenu */
      padding-top: 20px;
      padding-bottom: 20px;
      opacity: 1;
      transition: max-height 0.3s ease-in, padding 0.3s ease-in,
        opacity 0.3s ease-in;
    }
  }
}
