@use "../../SCSS/variable.scss" as *;

.navbar {
  display: flex;
  gap: 2rem;
  align-items: center;
  font-weight: 500;
  font-size: 24px;
  margin-inline: 100px;
  justify-content: space-between;
  &__logo {
    margin-right: auto;
  }
  & a {
    text-decoration: none;
    color: $color-black;
    white-space: nowrap;
    &.active {
      text-decoration: underline;
    }
    & a:hover {
      text-decoration: underline;
    }
  }
}

@media (max-width: 570px) {
  .navbar {
    margin-inline: 10px;
    font-size: 20px;
  }
  .navbar__logo img {
    width: 150px;
  }
}
@media (max-width: 470px) {
  .navbar {
    font-size: 14px;
  }
}
